<!--Inicio sección footer-->
    <section class="footer">
        <div class="contenedor texto-centro">
            <p>Todos los derechos reservados. Diseñado por <a href="#">Carrera Software - ESPE</a></p>
        </div>
    </section>
    <!--fin sección footer-->
</body>
</html>