<!--Inicio sección menu platos-->
    <section class="menu-platos">
        <div class="contenedor">
        <h2 class="texto-centro">Nuestros Platos</h2>
        {{#each plato}}
        <div class="menu-platos-item">
            <div class="img-menu">
                <img src="images/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive img-redondeado">
            </div>
            <div class="desc-menu">
                
                <h4>{{nombre}}</h4>
                <p class="precio-plato">{{precio}}</p>
                <p class="desc-plato">{{descripcion}}</p>
                
                <br/>
                <a href="#" class="btn btn-principal">Ordenar</a>
            </div>
        </div>
        {{/each}}
        <div class="limpiar"></div>
    </div>
    </section>
    <!--fin sección menu platos-->