<!--Inicio secci칩n navbar-->
    <section class="navbar">
        <div class="contenedor">
            <div class="logo">
                <img src="images/logo.png" alt="Logo Restaurant" class="img-responsive">
            </div>
            <div class="menu texto-derecha">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Con칩cenos</a></li>
                    <li><a href="#">Platos</a></li>
                    <li><a href="#">Cont치ctanos</a></li>
                </ul>
                <div class="limpiar"></div>
            </div>
        </div>
    </section>
    <!--fin secci칩n navbar-->